html, body {
  height: 100%;
  margin: 0;
}

div#navbar {
  background-color: antiquewhite;
  font-size: xx-large;
}

div#log {
  box-sizing: border-box;
  width: 95%;
  display: flex;
  flex-flow: column;
  margin-left: 2.5%;
  margin-top: 1%;
}

img#ringon_img {
  padding: 10px 0;
  vertical-align: middle;
}

table, th, td {
  box-sizing: border-box;
  border-bottom: 1px solid;
}

td#level {
  width: 5%;
  text-align: center;
}
td#label {
  width: 10%;
  text-align: center;
}
td#timestamp {
  width: 10%;
  text-align: center;
}
td#message {
  width: 55%;
  padding-left: 1%;
}
